@model List<NotificationDotNet6SignalR.Domain.DTOs.Notification.NotificationDto>

@{
    ViewData["Title"] = "Notificação Index";
}

<h3>@ViewData["Title"]</h3>

<a class="btn btn-success" asp-controller="Notification" asp-action="Create"> Create </a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">De</th>
            <th scope="col">Para</th>
            <th scope="col">Lido</th>
            <th scope="col">Criação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-bs-toggle="tooltip" data-bs-placement="top" title="@string.Format("Header: {0} | Content: {1}", item.Header, item.Content)">
                <td>@item.Id</td>
                <td>@item.FromName</td>
                <td>@item.ToName</td>
                <td>@item.IsRead</td>
                <td>@item.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>