@model NotificationDotNet6SignalR.Domain.Commands.User.UserLoginCommand

@{
    ViewBag.Title = "Login de Usuário";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Login", "User", FormMethod.Post, htmlAttributes: new { id = "frmUserLogin", @class = "row g-3" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
}