@using Microsoft.AspNetCore.Identity
@inject SignInManager<NotificationDotNet6SignalR.Domain.Entities.User> SignInManager

@{
    var signInManager = SignInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NotificationDotNet6SignalR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NotificationDotNet6SignalR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/notification/ikr.notification.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NotificationDotNet6SignalR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="notifications-container"></div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", "", htmlAttributes: new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Privacy", "Privacy", "Home", "", htmlAttributes: new { @class = "nav-link text-dark" })
                        </li>
                        @if (signInManager)
                        {
                            <li>
                                @Html.ActionLink("Notificação", "Index", "Notification", "", htmlAttributes: new { @class = "nav-link text-dark" })
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager)
                        {
                            <li class="nav-item">
                                @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                                {
                                    <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                                        Logout @User.Identity.Name
                                    </button>
                                }
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Registrar", "Register", "User", "", htmlAttributes: new { @class = "nav-link text-dark" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "User", "", htmlAttributes: new { @class = "nav-link text-dark" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NotificationDotNet6SignalR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/lib/notification/ikr.notification.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#notifications-container').ikrNotificationSetup();
    });
</script>