@model NotificationDotNet6SignalR.Domain.Entities.User

@{
    var signInManager = User.Identity.IsAuthenticated;
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NotificationDotNet6SignalR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (signInManager)
            {
                @Html.Hidden("UserId", @Model.Id)
                <div id="notifications-container"></div>
            }
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", "", htmlAttributes: new { @class = "nav-link text-dark" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Privacy", "Privacy", "Home", "", htmlAttributes: new { @class = "nav-link text-dark" })
                </li>
                @if (signInManager)
                {
                    <li>
                        @Html.ActionLink("Notificação", "Index", "Notification", "", htmlAttributes: new { @class = "nav-link text-dark" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (signInManager)
                {
                    <li class="nav-item">
                        @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                        {
                            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                                Logout @User.Identity.Name
                            </button>
                        }
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Registrar", "Register", "User", "", htmlAttributes: new { @class = "nav-link text-dark" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "User", "", htmlAttributes: new { @class = "nav-link text-dark" })
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>